.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--oot-bg-darkest);
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.content {
  flex: 1;
  overflow: auto;
  position: relative;
}
